.box1{
    width: 200px;
    height: 200px;
    background: linear-gradient(dodgerblue,yellow 70%);
}
.box2{
    width: 600px;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(23deg, rgba(2,0,36,1) 0%, rgba(67,229,144,1) 70%);
}

