<section class="block block--black block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h3>
    </header>
    <article class="grid grid--1x2 container">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="image/ipad.webp 1x, image/ipad@2x.webp 2x">
            <source type="image/png" srcset="image/ipad.png 1x, image/ipad@2x.png 2x">
            <img src="image/ipad.png" alt="">
        </picture>
        <ul>
            <li class="list">
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="image/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updates</h3>
                        <p class="media__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum culpa vero nemo dolores ducimus mollitia sint repellat sit sequi harum.</p>
                    </div>
                </div>  
            </li>
            <li class="list">
                <li class="list">
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="image/sprite.svg#growth"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Staging, Git & WP-CLI</h3>
                            <p class="media__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum culpa vero nemo dolores ducimus mollitia sint repellat sit sequi harum.</p>
                        </div>
                    </div>  
            </li>
            <li class="list">
                <li class="list">
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="image/sprite.svg#wordpress"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title">Dynamic Caching & More</h3>
                            <p class="media__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum culpa vero nemo dolores ducimus mollitia sint repellat sit sequi harum.</p>
                        </div>
                    </div>  
            </li>
        </ul>
    </article>
    </section>