.container{
    display: flex;
    flex-direction: column;
}
.box{
    background : gold;
    padding : 1rem;
}
.box:nth-of-type(2){
    background: dodgerblue;
}
@media screen and (min-width : 490px) and (max-width: 900px){
    .container{
        flex-direction: row;
    }
    .box{
        background: deeppink;
    }
}

