body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    width:100px;
    height:100px;
    background-color: orange;
    transition: transform 0.5s, background 0.5s cubic-bezier(1,-0.12,.83,1.19);
}
.box:hover{
    transform: perspective(100px) rotate(15deg);
    background: dodgerblue;
}