<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, necessitatibus.</p>
    </header>
    <div style="width:50%; padding:4rem;">
        <div class="card card--secondary">
         <header class="card__header">Card Title</header>
         <div class="card__body">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus magnam illo, corporis nam inventore!
         </div>
        </div>
    </div>
   </section>
